/* Container */
.container {
    padding: 0 15px;
    max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
    margin: 0 auto;
    overflow: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 - var(--gutter);
}

.col-1 {
    width: calc(100% / 12 * 1 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-2 {
    width: calc(100% / 12 * 2 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-3 {
    width: calc(100% / 12 * 3 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-4 {
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-5 {
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-6 {
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-7 {
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-8 {
    width: calc(100% / 12 * 8 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-9 {
    width: calc(100% / 12 * 9 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-10 {
    width: calc(100% / 12 * 10 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-11 {
    width: calc(100% / 12 * 11 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

.col-12 {
    width: calc(100% / 12 * 12 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}

@media (max-width: 768px) {
    .col-md-12 {
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    margin: 0 var(--gutter); 
    }
}