.prime-btn {
    border: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: var(--coral);
    display: inline-block;
    transition: 0.3s;
    }
    @media screen and (max-width:1200px) {
        .prime-btn {
            font-size: 18px;
            line-height: 1.4;
        }
    }
    
    .prime-btn:hover {
        background-color: var(--coral-bg);
    }
